.ArtistLine {
  margin-top: 0;
  margin-left: 0.4rem;
  font-weight: 300;
}

.ArtistLine a {
  text-decoration: none;
}

.GridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0;
  font-size: 0;
}

.e1:hover div,
.e2:hover div,
.e3:hover div,
.e4:hover div,
.e5:hover div,
.e6:hover div,
.e7:hover div,
.e8:hover div,
.e9:hover div,
.e10:hover div,
.e11:hover div,
.e12:hover div {
  visibility: visible;
}

.e1 {
  grid-area: 3 / 4;
}

.e2 {
  grid-area: 3 / 3;
}

.e3 {
  grid-area: 3 / 2;
}

.e4 {
  grid-area: 3 / 1;
}

.e5 {
  grid-area: 2 / 4;
}

.e6 {
  grid-area: 2 / 3;
}

.e7 {
  grid-area: 2 / 2;
}

.e8 {
  grid-area: 2 / 1;
}

.e9 {
  grid-area: 1 / 4;
}

.e10 {
  grid-area: 1 / 3;
}

.e11 {
  grid-area: 1 / 2;
}

.e12 {
  grid-area: 1 / 1;
}

.SQText {
  padding: 0 0.625rem;
  background-color: var(--overlay);
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
}

.SQText h2 {
  font-family: NeueMontreal, sans-serif;
  color: var(--white);
  font-weight: 500;
  font-size: 2.5vw;
  padding-top: 5px;
  margin: 0;
  text-decoration: none;
}

.SQText h3 {
  font-family: NeueMontreal, sans-serif;
  color: var(--white);
  font-weight: 300;
  font-size: 2vw;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 500px) {
  .SQText {
    padding: 0 1.25rem;
  }
}

@media only screen and (min-width: 700px) {
  .SQText {
    padding: 0 1.5rem;
  }
}

@media only screen and (min-width: 952px) {
  .SQText {
    padding: 0 1.875rem;
  }

  .SQText h2 {
    font-size: 1.8rem;
    padding-top: 1rem;
  }

  .SQText h3 {
    font-size: 1rem;
  }
}
